# Extra packages for ComfyUI custom nodes
# This file can be overridden via ConfigMap mount at /opt/ComfyUI/extra-requirements.txt
# Entrypoint will pip install from this file at startup
opencv-python
pywavelets
imageio
scikit-image
ultralytics
piexif
segment-anything
numpy<2
omegaconf
blend-modes
timm
yacs
git+https://github.com/facebookresearch/sam2
